<!DOCTYPE html>
<html lang="en">
    <head>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
      <meta charset="utf-8">
      <title>CS418 - Project 4: Profile Page</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <link href="dist/css/bootstrap.css" rel="stylesheet">
      <link href="dist/css/style.css" rel="stylesheet">
      
      <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      <link rel="shortcut icon" href="/bootstrap/img/favicon.ico">
      <link rel="apple-touch-icon" href="/bootstrap/img/apple-touch-icon.png">
      <link rel="apple-touch-icon" sizes="72x72" href="/bootstrap/img/apple-touch-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="114x114" href="/bootstrap/img/apple-touch-icon-114x114.png">
      <script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

      <script type='text/javascript' src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
      <script type='text/javascript' src="dist/js/livevalidation.js"></script>
      <script type='text/javascript' src="../js/dropzone.js"></script>


        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">



    </head>
    
    <body>
      <div class="navbar navbarBlue navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="logo_white_30.png" >HackChat</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <a href="#"><img src="tinyprofileimage.png" class="img-circle" style="margin-top:5px"></a>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <div class="content">
        <div class="container">
          <div class="board">
            <h3 style="display:inline">cosmicmeow</h3> >> <a href="registration.html"><h4 style="display:inline">Edit Profile</h4></a>
            <hr>
            <div class="userbasic" style="padding:20px;background-color:#f4f4f4;margin-bottom:20px">
              <img src="default.png" style="border:3px solid #5CCDCC;vertical-align:top">
              <div class="info" style="display:inline-block;margin-left:10px">
                <h3 style="margin:0"><i class="fa fa-bookmark"></i> cosmicmeow</h3>
                <h6 style="margin-top:0">Joined on Feb 3, 2014 | Total Posts: 15</h6>
                <p style="width:400px">My name is Lookmai. I'm a co-creator of this forum as well as moderator of some of the boards. :D Hi!</p>
              </div>
            </div>

            <h3 style="display:inline">Recent Posts</h3> <hr>
            <div class="recentposts" style="height:300px;overflow:auto;border:1px solid #d4d4d4;">
              <div style="background-color:#fff;padding:12px;">
                <a href="">FriendFinder for ODU students</a>
                <h6 style="margin-top:0">Original Posts: <a href="">szheng</a> | Posted on April 1, 2014 | Board: <a href="">Cool Ideas</a></h6>
                <p>Sounds like a great idea!</p>
              </div>
              <div style="background-color:#eee;padding:12px;">
                <a href="">FriendFinder for ODU students</a>
                <h6 style="margin-top:0">Original Posts: <a href="">szheng</a> | Posted on April 1, 2014 | Board: <a href="">Cool Ideas</a></h6>
                <p>Sounds like a great idea!</p>
              </div>
              <div style="background-color:#fff;padding:12px;">
                <a href="">FriendFinder for ODU students</a>
                <h6 style="margin-top:0">Original Posts: <a href="">szheng</a> | Posted on April 1, 2014 | Board: <a href="">Cool Ideas</a></h6>
                <p>Sounds like a great idea!</p>
              </div>
              <div style="background-color:#eee;padding:12px;">
                <a href="">FriendFinder for ODU students</a>
                <h6 style="margin-top:0">Original Posts: <a href="">szheng</a> | Posted on April 1, 2014 | Board: <a href="">Cool Ideas</a></h6>
                <p>Sounds like a great idea!</p>
              </div>
              <div style="background-color:#fff;padding:12px;">
                <a href="">FriendFinder for ODU students</a>
                <h6 style="margin-top:0">Original Posts: <a href="">szheng</a> | Posted on April 1, 2014 | Board: <a href="">Cool Ideas</a></h6>
                <p>Sounds like a great idea!</p>
              </div>
              <div style="background-color:#eee;padding:12px;">
                <a href="">FriendFinder for ODU students</a>
                <h6 style="margin-top:0">Original Posts: <a href="">szheng</a> | Posted on April 1, 2014 | Board: <a href="">Cool Ideas</a></h6>
                <p>Sounds like a great idea!</p>
              </div>
              <div style="background-color:#fff;padding:12px;">
                <a href="">FriendFinder for ODU students</a>
                <h6 style="margin-top:0">Original Posts: <a href="">szheng</a> | Posted on April 1, 2014 | Board: <a href="">Cool Ideas</a></h6>
                <p>Sounds like a great idea!</p>
              </div>
              <div style="background-color:#eee;padding:12px;">
                <a href="">FriendFinder for ODU students</a>
                <h6 style="margin-top:0">Original Posts: <a href="">szheng</a> | Posted on April 1, 2014 | Board: <a href="">Cool Ideas</a></h6>
                <p>Sounds like a great idea!</p>
              </div>
              <div style="background-color:#fff;padding:12px;">
                <a href="">FriendFinder for ODU students</a>
                <h6 style="margin-top:0">Original Posts: <a href="">szheng</a> | Posted on April 1, 2014 | Board: <a href="">Cool Ideas</a></h6>
                <p>Sounds like a great idea!</p>
              </div>
            </div>
          </div>


        </div>
      </div>

      
      <script type='text/javascript'>
        var inputUsername = new LiveValidation( "inputUsername", { validMessage: "Valid Username", wait: 500 } );
        inputUsername.add( Validate.Presence, { failureMessage: "Username Required" } );
        inputUsername.add( Validate.Length, { minimum: 6});

        var inputEmail = new LiveValidation( "inputEmail", { validMessage: "Valid Email!", wait: 500 } );
        inputEmail.add( Validate.Presence, { failureMessage: "Email Required" } );
        inputEmail.add( Validate.Email, { failureMessage: "Invalid email address!" } );
        inputEmail.add( Validate.Format, { pattern: /cs.odu.edu/i, failureMessage: "CS Email Only" } );

        var inputPassword = new LiveValidation( "inputPassword", { validMessage: "Valid Password!", wait: 500 } );
        inputPassword.add( Validate.Presence, { failureMessage: "Password Required" } );

        function readURL(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
              $('#blah').attr('src', e.target.result);
            }
              reader.readAsDataURL(input.files[0]);
          }
        }

        $("#imgInp").change(function(){
          readURL(this);
        });

      </script>




      
        
    </body>
</html>