<!DOCTYPE html>
<html lang="en">
    <head>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
      <meta charset="utf-8">
      <title>CS418 - Project 3: Registration</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <link href="dist/css/bootstrap.css" rel="stylesheet">
      <link href="dist/css/style.css" rel="stylesheet">
      
      <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      <link rel="shortcut icon" href="/bootstrap/img/favicon.ico">
      <link rel="apple-touch-icon" href="/bootstrap/img/apple-touch-icon.png">
      <link rel="apple-touch-icon" sizes="72x72" href="/bootstrap/img/apple-touch-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="114x114" href="/bootstrap/img/apple-touch-icon-114x114.png">

      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script src="../js/jquery.validate.js" type="text/javascript"></script>
      <script src="../js/jquery.validation.functions.js" type="text/javascript"></script>
      <script type="text/javascript">
        jQuery(function(){
          
            jQuery("#username").validate({
                expression: "if (VAL) return true; else return false;",
                message: "Username needed!"
            });

            jQuery("#csemail").validate({
                expression: "if (VAL.match(/^[^\\W][a-zA-Z0-9\\_\\-\\.]+([a-zA-Z0-9\\_\\-\\.]+)*\\@[a-zA-Z0-9_]+(\\.[a-zA-Z0-9_]+)*\\.[a-zA-Z]{2,4}$/)) return true; else return false;",
                message: "Email needed!"
            });
        });
      </script>


    </head>
    
    <body>
      
      <div class="navbar navbarBlue navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="logo_white_30.png" >HackChat</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <a href="#"><img src="tinyprofileimage.png" class="img-circle" style="margin-top:5px"></a>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <div class="content">
        <div class="container">
          <div class="board">
            <h2>New User Registration:</h2><br>
            *Please fill out every field. We only accept ODU's CS email at this time.
            <hr>
            <form class="form-horizontal" role="form" style="width:70%;">
              <input type="text" class="form-control" name="username" id="username" placeholder="User Name"><br>
              <input type="text" class="form-control" name="name" id="name" placeholder="Your Name"><br>
              <input type="email" class="form-control" name="csemail" id="csemail" placeholder="CS Email"><br>
              <input type="password" class="form-control" id="inputPassword3" placeholder="Password"><br>

                <input type="radio" name="emailOptions" value="email1"> Recieve email as text/html<br>
                <input type="radio" name="emailOptions" value="email2"> Recieve email as text/plain<br>
              
              <hr>
              <button type="submit" class="btn btn-blue">Submit</button>
            </form>
          </div>

          <form action="" method="post">
<input type="text" name="<name of field to be validated>" id="<id of field to be validated>" />
<input type="submit" value="Submit" />
</form>


        </div>
      </div>

      




      <script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

      <script type='text/javascript' src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
      
      <script type='text/javascript'>
        $(document).ready(function() {
          });
      </script>
        
    </body>
</html>